/* WaveformEditor Component Styles */

.waveform-editor {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.waveform-editor .waveform-canvas-container {
  flex: 1;
  position: relative;
  background-color: #0f1117;
  border-radius: 4px;
  overflow: hidden;
}

.waveform-editor .waveform-canvas {
  display: block;
  width: 100%;
  height: 100%;
  cursor: text;
}

.waveform-editor .waveform-canvas:hover {
  cursor: crosshair;
}
